* {
    margin: 200;
    border-color: chocolate;
}

body
{
    font-family: sans-serif;
    font-style: oblique;
    font-size: medium;
    color: skyblue;
    background-color: blue;
}

footer
{
    background-color:  azure;
}

h1
{
    font-size: xx-large;
}

#titulos
{
    font-weight: bold;
    color: green;
}