  <form action="agregar.php" method="POST" enctype="multipart/form-data">
    <div class="input-field col s4">
          <input id="name" type="text" name="name" class="validate" required>
          <label for="name">Nombre</label>
    </div>
    <div class="input-field col s4">
          <input id="lastname" type="text" name="lastname" class="validate" required>
          <label for="lastname">Apellido</label>
    </div>
    <div class="input-field col s4">
          <input id="age" type="text" name="age" class="validate" required>
          <label for="age">Edad</label>
    </div>  
        
    
    <div class="input-field col s6">
          <input type="submit" value="Registrar">
    </div>
  </form>